{% extends "admin_panel/base.html" %}
{% load static %}
{% block content %}

<div class="product-page">

    <div class="page-header">
        <h1>
            {% if product %}
                Редактировать товар
            {% else %}
                Добавить товар
            {% endif %}
        </h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="product-form" novalidate>
        {% csrf_token %}
         <link rel="stylesheet" href="{% static 'admin_panel/css/product_form.css' %}">

        <div class="card">
            <h2>Основная информация</h2>

            <div class="form-grid">

                <div class="form-group">
                    {{ product_form.name.label_tag }}
                    {{ product_form.name }}
                    <small class="error" data-error="name" style="display:none;color:red;">
                        Введите название товара
                    </small>
                </div>

                <div class="form-group">
                    {{ price_form.value.label_tag }}
                    {{ price_form.value }}
                    <small class="error" data-error="value" style="display:none;color:red;">
                         Введите цену
                    </small>
                </div>

                <div class="form-group full-width">
                    {{ product_form.description.label_tag }}
                    {{ product_form.description }}
                </div>

                <div class="form-group">
                    {{ product_form.category.label_tag }}
                    {{ product_form.category }}
                    <small id="category-error" style="color: red; display: none;">
                        Выберите категорию
                    </small>
                </div>

                <div class="form-group checkbox-group">
                    {{ product_form.available.label_tag }}
                    {{ product_form.available }}
                </div>

            </div>
        </div>

        <div class="card">
            <div class="images-header">
                <h2>Изображения</h2>

                <button type="button" id="add-image-btn" class="btn-secondary">
                    + Добавить
                </button>
            </div>

            <div id="images-container">
                <input type="file" name="images" class="image-input">
            </div>

            <div id="images-list" class="image-grid">
                {% for img in images %}
                <div class="image-card img-item" data-id="{{ img.id }}">

                    <img src="{{ img.image.url }}" alt="image">

                    <div class="image-actions">

                        <label class="radio-label">
                            <input type="radio"
                                   name="main_image"
                                   value="old_{{ img.id }}"
                                   {% if img.is_main %}checked{% endif %}>
                            Главное изображение
                        </label>

                        <button type="button" class="delete-old delete-btn">
                            ✕
                        </button>

                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="preview-container" class="image-grid"></div>

        </div>

        <div class="card">
            <h2>Дополнительные характеристики</h2>

            <div id="category-fields">
                {% if category_form %}
                    {{ category_form.as_p }}
                {% endif %}
            </div>
        </div>

        <div class="submit-box">
            <button type="submit" class="btn-primary">
                Сохранить
            </button>
        </div>

    </form>
</div>


<script>

document.addEventListener('DOMContentLoaded', function () {
function validateCategoryFields() {
    let valid = true;

    document.querySelectorAll('#category-fields input, #category-fields select, #category-fields textarea')
        .forEach(field => {

            const isRequired = field.required || field.getAttribute('required');
            const error = document.querySelector(`[data-error="${field.name}"]`);

            let empty = false;

            if (field.type === 'checkbox') {
                empty = !field.checked;
            } else {
                empty = !field.value;
            }

            if (isRequired && empty) {
                valid = false;
                if (error) error.style.display = 'block';
            } else {
                if (error) error.style.display = 'none';
            }
        });

    return valid;
}

const priceField = document.getElementById('id_value');

if (priceField) {

    priceField.addEventListener('keypress', function (e) {

        const allowed = /[0-9,]/;

        if (!allowed.test(e.key)) {
            e.preventDefault();
        }
    });
}
    const categoryField = document.getElementById('id_category');
    const categoryBox = document.getElementById('category-fields');

    const form = document.querySelector('.product-form');
    const categoryError = document.getElementById('category-error');

    if (form && categoryField) {

       form.addEventListener('submit', function (e) {

            let ok = true;

            // 1. категория
                if (!categoryField.value) {
                    categoryError.style.display = 'block';
                    ok = false;
            } else {
                categoryError.style.display = 'none';
            }

            // 2. название
            const nameField = document.getElementById('id_name');
            const nameError = document.querySelector('[data-error="name"]');

            if (!nameField.value.trim()) {
                if (nameError) nameError.style.display = 'block';
                ok = false;
            } else {
                   if (nameError) nameError.style.display = 'none';
            }

             // 3. цена
            const priceField = document.getElementById('id_value');
            const priceError = document.querySelector('[data-error="value"]');

            if (!priceField.value.trim()) {
                if (priceError) priceError.style.display = 'block';
                ok = false;
            } else {
                if (priceError) priceError.style.display = 'none';
            }

            // 4. доп поля
            if (!validateCategoryFields()) {
                 ok = false;
            }

            if (!ok) {
                e.preventDefault();
            }
        });


        categoryField.addEventListener('change', function () {
            if (this.value) {
            categoryError.style.display = 'none';
            }
        });
    }
    if (categoryField && categoryBox) {

        function loadCategoryForm(categoryId) {

            if (!categoryId) {
                categoryBox.innerHTML = "";
                return;
            }

            fetch(`/admin-panel/ajax/load-category-form/?category_id=${categoryId}&product_id={{ product.id }}`)
                .then(r => r.json())
                .then(data => {
                    categoryBox.innerHTML = data.html;
                })
                .catch(err => console.error(err));
        }

        loadCategoryForm(categoryField.value);

        categoryField.addEventListener('change', function () {
            loadCategoryForm(this.value);
        });
    }

    const container = document.getElementById('images-container');
    const preview = document.getElementById('preview-container');
    const addBtn = document.getElementById('add-image-btn');

    function rebuildPreview() {

        preview.innerHTML = '';

        document.querySelectorAll('.image-input').forEach((input, index) => {

            if (!input.files.length) return;

            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {

                const div = document.createElement('div');
                div.classList.add('image-card');

                div.innerHTML = `
                    <img src="${e.target.result}" alt="preview">

                    <div class="image-actions">

                        <label class="radio-label">
                            <input type="radio"
                                   name="main_image"
                                   value="new_${index}">
                            Главное
                        </label>

                        <button type="button" class="delete-new delete-btn">
                            ✕
                        </button>

                    </div>
                `;

                preview.appendChild(div);

                div.querySelector('.delete-new').addEventListener('click', () => {
                    input.value = "";
                    div.remove();
                });
            };

            reader.readAsDataURL(file);
        });
    }

    addBtn.addEventListener('click', () => {

        const input = document.createElement('input');

        input.type = 'file';
        input.name = 'images';
        input.classList.add('image-input');

        input.addEventListener('change', rebuildPreview);

        container.appendChild(input);

        input.click();
    });

document.addEventListener('input', function(e) {
    const error = document.querySelector(`[data-error="${e.target.name}"]`);
    if (error && e.target.value) {
        error.style.display = 'none';
    }
});
    document.querySelectorAll('.image-input')
        .forEach(input => input.addEventListener('change', rebuildPreview));

    document.addEventListener('click', function(e) {

        if (e.target.classList.contains('delete-old')) {

            const item = e.target.closest('.img-item');
            const id = item.dataset.id;

            item.remove();

            const input = document.createElement('input');

            input.type = 'hidden';
            input.name = 'delete_image';
            input.value = id;

            document.querySelector('form').appendChild(input);
        }
    });

});

</script>

{% endblock %}