{% extends "admin_panel/base.html" %}

{% block title %}
Отчеты
{% endblock %}

{% block content %}

<h1>Отчеты</h1>
<a href="{% url 'admin_panel:export_excel' %}">
    Скачать Excel
</a>

<a href="{% url 'admin_panel:export_pdf' %}">
    Скачать PDF
</a>

<form method="get">

    <input type="date" name="date_from">

    <input type="date" name="date_to">

    <button type="submit">
        Фильтр
    </button>

</form>

<hr>

<h2>Популярные книги</h2>

<table class="report-table">

    <tr>
        <th>Книга</th>
        <th>Продано</th>
    </tr>

    {% for item in popular_books %}
    <tr>
        <td>{{ item.product__name }}</td>
        <td>{{ item.total }}</td>
    </tr>
    {% endfor %}

</table>

<br><br>

<h2>Популярные авторы</h2>

<table class="report-table">

    <tr>
        <th>Автор</th>
        <th>Продано</th>
    </tr>

    {% for author in popular_authors %}
    <tr>
        <td>{{ author }}</td>
        <td>{{ author.total_sold }}</td>
    </tr>
    {% endfor %}

</table>

<br><br>

<h2>Невостребованные книги</h2>

<table class="report-table">

    <tr>
        <th>Книга</th>
    </tr>

    {% for book in unsold_books %}
    <tr>
        <td>{{ book.product.name }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}