{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Все товары - Книжный магазин{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <a href="{% url 'shop:product_list' %}">Главная</a> / Все товары
    </div>

    <h1>Все товары магазина</h1>
        <form method="get" class="filters">

            <div class="filters-row">

                 <select name="sort" class="filter-select">
                    <option value="">Сортировка</option>

                    <option value="rating_desc" {% if request.GET.sort == 'rating_desc' %}selected{% endif %}>
                         Лучшие
                    </option>

                    <option value="rating_asc" {% if request.GET.sort == 'rating_asc' %}selected{% endif %}>
                        Худшие
                    </option>

                    <option value="popular" {% if request.GET.sort == 'popular' %}selected{% endif %}>
                        Популярные
                     </option>
                </select>

                {% if category.name == 'Книги' or category.name == 'Настольные игры' or not category %}
                    <select name="genre" class="filter-select">
                         <option value="">Жанры</option>
                            {% for genre in genres %}
                                <option value="{{ genre.id }}" {% if request.GET.genre == genre.id|stringformat:"s" %}selected{% endif %}>
                                    {{ genre.name }}
                                </option>
                            {% endfor %}
                    </select>
                {% endif %}

                {% if category.name == 'Книги' or not category %}
                    <select name="tag" class="filter-select">
                        <option value="">Теги</option>
                            {% for tag in tags %}
                                <option value="{{ tag.id }}" {% if request.GET.tag == tag.id|stringformat:"s" %}selected{% endif %}>
                                    {{ tag.name }}
                                </option>
                            {% endfor %}
                    </select>
                {% endif %}

                <button type="submit" class="filter-btn">
                    Применить
                </button>

            </div>

        </form>
    <p class="results-count">Найдено товаров: {{ products.count }}</p>

    {% if products %}
        <div class="products-grid">
            {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        {% with main_image=product.get_main_image %}
                            {% if main_image %}
                                <img src="{{ main_image.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <div class="img-placeholder"></div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h3>
                        <div class="product-category">{{ product.category.name }}</div>
                        <div class="product-price">{{ product.price }} ₽</div>
                        <a href="{{ product.get_absolute_url }}" class="btn">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-results">
            <h2>Товары пока не добавлены</h2>
            <p>Загляните позже, мы обновляем ассортимент!</p>
        </div>
    {% endif %}
{% endblock %}