{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'shop/css/dashboard.css' %}">

<div class="dashboard-container">

    <div class="profile-card">

        <div class="profile-image">
            {% if request.user.buyer.photo %}
                <img src="{{ request.user.buyer.photo.url }}" alt="Аватар">
            {% else %}
                <img src="{% static 'images/default-user.png' %}" alt="Аватар">
            {% endif %}
        </div>

        <div class="profile-info">
            <h1>
                {{ request.user.first_name }}
                {{ request.user.last_name }}
            </h1>
            <div class="alert-success">
                Добро пожаловать, {{ request.user.username }}!
            </div>

            {% if request.user.buyer.middle_name %}
                <p>
                    <strong>Отчество:</strong>
                    {{ request.user.buyer.middle_name }}
                </p>
            {% endif %}

            <p>
                <strong>Email:</strong>
                {{ request.user.email }}
            </p>

            <p>
                <strong>Телефон:</strong>
                {{ request.user.buyer.phone }}
            </p>
        </div>

    </div>

    <div class="settings-card">
        <h2>Настройки аккаунта</h2>

        <a href="{% url 'account:edit' %}" class="dashboard-btn">
            Редактировать профиль
        </a>

        <a href="{% url 'account:password_change_request' %}" class="dashboard-btn">
            Сменить пароль
        </a>

        <a href="{% url 'account:logout' %}" class="logout-btn">
            Выйти
        </a>
    </div>

</div>
{% endblock %}