{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'shop/css/auth.css' %}">

<div class="auth-container">

    <h1>Смена пароля</h1>

    <form method="post" class="auth-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <p>
            <label>Старый пароль</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </p>

        <p>
            <label>Новый пароль</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </p>

        <p>
            <label>Повторите новый пароль</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </p>

        <button type="submit" class="btn">
            Сменить пароль
        </button>

    </form>

</div>

{% endblock %}