<div id="category-fields">
    {% if category_form %}

        {% for field in category_form %}
            <div class="form-group">

                <label>
                    {{ field.label }}

                    {% if field.field.required %}
                        <span style="color:red">*</span>
                    {% endif %}
                </label>

                {{ field }}

                {% if field.errors %}
                    <small style="color:red">
                        {{ field.errors }}
                    </small>
                {% endif %}

                <small
                    class="error"
                    data-error="{{ field.name }}"
                    style="display:none;color:red;"
                >
                    Заполните поле "{{ field.label }}"
                </small>

            </div>
        {% endfor %}

    {% endif %}
</div>